table {
  border: 1px solid #666;
  width: 80%;
  margin: 20px 0 20px 0 !important;
}

th,td {
  padding: 2px 4px 2px 4px !important;
  text-align: left;
  vertical-align: top;
}

thead tr {
  background-color: #69c;
}

th.sorted {
  background-color: #FFF6D9;
}

th a,th a:visited {
  color: black;
}

th a:hover {
  text-decoration: underline;
  color: black;
}

th.sorted a,th.sortable a {
  background-position: right;
  display: block;
  width: 100%;
}

th.sortable a {
  background-image: url(../img/arrow_off.png);
  background-repeat: no-repeat;
}

th.order1 a {
  background-image: url(../img/arrow_down.png);
  background-repeat: no-repeat;
}

th.order2 a {
  background-image: url(../img/arrow_up.png);
  background-repeat: no-repeat;
}

tr.odd {
  background-color: #fff;
}

table tr.even {
	background-color: #def;
}

tr.tableRowEven,tr.even {
  background-color: #F9F9F9;
}

span.export {
  padding: 0 4px 1px 20px;
  display: inline;
  display: inline-block;
  cursor: pointer;
}

span.excel {
  background-image: url(../img/ico_file_excel.png);
  background-repeat: no-repeat;
}

span.csv {
  background-image: url(../img/ico_file_csv.png);
  background-repeat: no-repeat;
}

span.xml {
  background-image: url(../img/ico_file_xml.png);
  background-repeat: no-repeat;
}

span.pdf {
  background-image: url(../img/ico_file_pdf.png);
  background-repeat: no-repeat;
}

span.rtf {
  background-image: url(../img/ico_file_rtf.png);
  background-repeat: no-repeat;
}

.group-1 {
  font-weight: bold;
  padding-bottom: 10px;
  border-top: 1px solid black;
}

.group-2 {
  font-style: italic;
  border-top: 1px solid black;
}

.subtotal-sum,.grandtotal-sum {
  font-weight: bold;
  text-align: right;
}

.subtotal-header {
  padding-bottom: 0px;
  border-top: 1px solid white;
}

.subtotal-label,.grandtotal-label {
  border-top: 1px solid white;
  font-weight: bold;
}

.grouped-table tr.even {
  background-color: #fff;
}

.grouped-table tr.odd {
  background-color: #fff;
}

.grandtotal-row {
  border-top: 2px solid black;
}

.topbar {
  position: static;
}