body {
	padding-top: 54px;
}

@media (min-width : 992px) {
	body {
		padding-top: 56px;
	}
}

#map {
	height: 450px;
}

#map:-moz-full-screen {
	height: 100%;
	width: 100%;
}

#map:-webkit-full-screen {
	height: 100%;
	width: 100%;
}

#map:-ms-fullscreen {
	height: 100%;
	width: 100%;
}

#map:fullscreen {
	height: 100%;
	width: 100%;
}

.switch-layer {
    bottom: .5em;
    left: .5em;
}